.input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  max-width: 800px;
  padding: 8px 16px;
  border: 1px solid black;
  border-radius: 4px 4px;
  
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

  &:not(:only-child) {
    border-radius: 4px 4px 0 0;
  }
}

.input {
  font-size: 20px;
  border: none;
  width: calc(100% - 48px);

  &:focus {
    outline: none;
  }
}

.icon {
  margin-top: 2px;
  width: 16px;
  height: 20px;

  &.hide {
    visibility: hidden;
  }

  &.search {
    background-image: url("./search.svg");
  }

  &.delete {
    background-image: url("./close.svg");
  }
}